<p-toast />

@if(spinner){
<div class="row text-center m-0 p-0">
    <div class="col m-0 p-0">
        <div class="card">
            <p-progress-spinner />
        </div>
    </div>
</div>
}@else {
<div class="productos-wrapper">
    <div class="productos-container">
        <div class="productos-header">
            <div class="filtros-productos" style="display: flex; align-items: center; gap: 16px; margin-bottom: 24px;">
                <label for="filtroPrincipal" style="font-weight: 500;">Filtrar por:</label>
                <select [(ngModel)]="categoriaSeleccionada">
                    <option value="">Todos</option>
                    <option *ngFor="let cat of categorias()" [value]="cat">{{cat}}</option>
                </select>


                <!-- Subcombo solo si elige "Por categoría" -->
                <ng-container>
                    <label for="tipoProducto" style="margin-left: 8px;">Tipo de producto:</label>
                    <select id="tipoProducto" style="padding: 6px 12px;">
                        <option value="">Todoss</option>
                        <option></option>
                    </select>
                </ng-container>
                <button (click)="buscarPorCategoria()">Buscar</button>
            </div>
        </div>
        <div class="productos-grid">
            <div class="col">
                <app-table-productos [productos]="productos()"></app-table-productos>

            </div>
        </div>
    </div>

</div>






}