<form [formGroup]="form" (ngSubmit)="sendForm()">
    <div class="row">
        <div class="col">
            <label for="email" class="text-dark">Email</label>
            <input type="email" [style]="{width : '100%'}" pInputText formControlName="email" id="email">
            @if(form.get('email')?.hasError('required') && form.get('email')?.touched){
            <span class="text-danger">Este campo es requerido</span>
            }
            @if(form.get('email')?.hasError('email') && form.get('email')?.touched){
            <span class="text-danger">Email inválido</span>
            }
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label for="contraseña" class="text-dark">Contraseña</label>
            <p-password [style]="{width : '100%'}" formControlName="contraseña" id="contraseña" [toggleMask]="true"></p-password><!--Esto hace que que se pongo la barra de seguridad de contraseña-->
            @if(form.get('contraseña')?.hasError('required') && form.get('contraseña')?.touched){
            <span class="text-danger">Este campo es requerido</span>
            }
            @if(form.get('contraseña')?.hasError('minlength') && form.get('contraseña')?.touched){
            <span class="text-danger">Mínimo 5 caracteres</span>
            }
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col">
            <p-button [disabled]="form.invalid" type="submit" label="Iniciar Sesión" [rounded]="true" severity="success"></p-button>
        </div>
    </div>
</form>